@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
html, body {
    width: 100%;
    height: 100%;
}
#main {
    background-color: black;
    width: 100%;
    height: 100vh;
}
#nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}
#nav .logo img{

    height: 50px;
}
.menu h3{
    display: inline-block;
    padding: 20px 20px;
}
.menu h3 a {
   text-decoration: none;
   text-decoration-style: none;
   color: #fff;
   font-weight: 300;
   font-size: 14px;
   cursor: pointer;
}

#page1 {
    width: 100%;
    height: 100vh;
    display: flex;
}
#page1 #left {
    width: 50%;
    height: 100%;
}
#page1 #left img{
    height: 625px;
    margin-left: 250px;
}
#page1 #right {
    width: 50%;
    height: 100%;
    padding-top: 180px;
    padding-right: 100px;
}
#page1 #right h4 {
    color: #c71a27;
    margin-bottom: 10px;
}
#page1 #right h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 52px;
}
#page1 #right p {
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: .8px;
    font-family: Poppins;
}
#page1 #right p {
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: .8px;
    font-family: Poppins;
}
#page1 #right #btn {
    font-family: Poppins;
    background-color: #c71a27;
    padding: 10px 50px;
    margin-top: 30px;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
#page2 {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: -100px;
}

#page2 #page2left{
    width: 50%;
    background-color: #181818;
    display: flex;
    padding-top: 5%;
}

#page2 #page2left .boxcode{
    width: 300px;
    height: 300px;
    padding: 30px 0px;
    border-radius: 10px;
    
}
#one{
    position: absolute;
    left: 15%;
    background-color: #1e1e1e;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
div#one:hover {
    background-color: #c71926;
    transform: scale(1.1);
}
#two{
    position: absolute;
    left: 40%;
    background-color: #c71a27;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
div#two:hover {
    background-color: #1e1e1e;
    transform: scale(1.1);
}
#three{
    position: absolute;
    left: 65%;
    background-color: #181818;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
div#three:hover {
    background-color: #c71926;
    transform: scale(1.1);
}
#page2 #page2left .boxcode .ri-edit-box-line {
    color: #c71a27;
    font-size: 80px;
    margin-left: 50px;
    border-radius: 10px;
}
#one:hover>.ri-edit-box-line{
    color: #fff !important;
}


#page2 #page2left .boxcode .ri-pencil-ruler-2-line{
    color: #c71a27;
    font-size: 80px;
    margin-left: 50px;
    border-radius: 10px;
}
#page2 #page2left .boxcode .ri-draft-line {
    color: #fff;
    font-size: 80px;
    margin-left: 50px;
    border-radius: 10px;
}
#three:hover>.ri-pencil-ruler-2-line{
    color: #fff !important;
}
#page2 #page2left .boxcode h3{
    color: #fff;
    font-size: 24px;
    margin-left: 60px;
    
}
#page2 #page2left .boxcode p{
    color: #fff;
    font-size: 14px;
    margin-left: 60px;
    margin-top: 10px;
}
#page2 #page2left .boxcode #page2btn{
    font-size: 14px;
    margin-top: 25px;
    margin-left: 60px;
    background: transparent;
    color: #fff;
    border: none;
    justify-items: center;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    letter-spacing: 3px;
}


#page2 #page2left .boxcode .bttt { 
    color: #c71a27 !important;

}

#page2 #page2left .boxcode:hover>.bttt {
    color: #fff !important;
}


#page2 #page2right {
    width: 50%;
    background-color: #111111;
}

#page2 #page2right #left2 {
    color: #fff !important;
    position: absolute;
    top: 1100px;
    left: 270px;
    align-items: center;
}
#page2 #page2right #left2>span {
    color: #c71a27 !important;
    font-size: 15vh;
    font-family: Poppins;
    font-weight: 900;
    margin-left: 30px;   
}
#page2 #page2right #left2>h4 {
    color: #fff !important;
    font-size: 3vh;
    font-family: Poppins;
    text-align: center;
    margin-top: -30px;
}
#page2 #page2right #right2 {
    position: absolute;
    top: 1080px;
    left: 560px;
}
#page2 #page2right #right2 .column{
    width: 320px;
    height: 100px;
    background-color: #1e1e1e;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
}
#page2 #page2right #right2 .column>h3{
    font-size: 32px;
    color: #c71a27;
}
#page2 #page2right #right2 .column>p{
    font-size: 16px;
    color: #fff;
}
